<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150281157525-efct2bhd96ua70n9293sssd83jgts3u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150281157525-efct2bhd96ua70n9293sssd83jgts3u8</string>
	<key>API_KEY</key>
	<string>AIzaSyBYMmhiulo0qjOTwymsOhqeTyxxVtQ_57E</string>
	<key>GCM_SENDER_ID</key>
	<string>150281157525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>meliora-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>meliora-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150281157525:ios:1b494effc1789e4a16949c</string>
	<key>DATABASE_URL</key>
	<string>https://meliora-tracker-default-rtdb.firebaseio.com</string>
</dict>
</plist>